.input {
  width: 100%;
  /* height: 115px; */
  background-color: $lightGrey;
}

.add {
    padding: 30px;

&__container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    &-row{

    }
}

&__type {
    width: 230px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 14px;
    color: inherit;
    background-color: $mainWhite;
    font-weight: 300;
    transition: border 0.3s;
    border-radius: 10px;

    @mixin atSmall {
    width: 140px;
    }

}

&__description,
&__value {
    width: 200px;
    border: 1px solid #e7e7e7;
    background-color: $mainWhite;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-bottom: 20px;
    transition: border 0.3s;
    border-radius: 10px;

    @mixin atSmall {
    width: 270px;
    }
    /* display: flex; */
    /* align-content: stretch; */

}

/* &__description { width: 270px;}
&__value { width: 200px;} */

&__btn {
    padding: 10px 5px;
    font-size: 1.5rem;
    background-color: $mainGreen;
    border: none;
    color: $mainWhite;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    border-radius: 10px;
    width: 230px;
    margin-left: 0;
    margin-top: 20px;

    @mixin atSmall {
    width: 140px;
    margin-left: 16px;
    margin-top: 0;
    }
}

&__btn:active { transform: translateY(2px); }

&__type:focus,
&__description:focus,
&__value:focus {
    outline: none;
    border: 1px solid $mainGreen;
}

&__btn:focus { outline: none; }


}

.right { float: right; }
.red { background-color: $mainRed !important;
      color: $mainWhite !important; }
.red-focus:focus { border: 1px solid $mainRed !important; }
